@import "./variables";

/* Common styles */
body {
  font-family: "Poppins", sans-serif;

  color: $text_primary;
}

a {
  color: currentColor;
  text-decoration: none;
}

.disabled_scroll {
  overflow: hidden;
}
