$text: #333333;
$background_primary: #b2ebf2;
$background_hero: #d32f2f;
$border: #0097a7;
$link_hover: #0288d1;
$green: #4caf50;
$green_hover: #388e3c;
$transition_dur_and_func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
