@import "../utils/variables";

.footer {
  padding-top: 20px;
  padding-bottom: 20px;

  border-top: 4px solid $border;
  background-color: $background_primary;
}

.footer_top {
  padding: 0 20px 20px 20px;
}

.logo_footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_top,
.footer_logos,
.logo_footer,
.footer_top_text_wrapper {
  position: relative;
}

.footer_top::after,
.footer_logos::after,
.logo_footer::after,
.footer_top_text_wrapper::after {
  content: "";

  position: absolute;
  display: block;

  background-color: $border;
}

.footer_top::after,
.footer_logos::after {
  bottom: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

.footer_title {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 14px;
}

.footer_text {
  font-size: 11px;
  line-height: 1.5;
}

.footer_menu {
  font-size: 12px;
  line-height: 1.6;

  li {
    transition: color $transition_dur_and_func;

    &:hover {
      color: $link_hover;
    }
  }
}

.footer_logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  padding: 20px 0;
}

.copyright_text {
  padding-top: 20px;

  font-size: 11px;
  text-align: center;
}

@media screen and (max-width: 1439px) {
  .logo_footer,
  .footer_text {
    margin-bottom: 20px;
  }

  .footer_top_text_wrapper::after {
    bottom: 0;
    left: -20px;

    width: calc(100% + 40px);
    height: 2px;
  }

  .footer_title,
  .footer_text {
    text-align: center;
  }

  .footer_text {
    padding-bottom: 20px;
  }

  .footer_menu {
    text-align: center;
  }
}

@media screen and (min-width: 1440px) {
  .footer_top {
    display: flex;
    align-items: stretch;
    gap: 40px;
  }

  .logo_footer::after,
  .footer_top_text_wrapper::after {
    top: 0;
    right: -20px;

    width: 2px;
    height: 100%;
  }

  .footer_menu_wrapper {
    align-self: center;
  }

  .footer_menu {
    width: 124px;
  }
}
