@import "../utils/variables";

.header {
  padding-top: 20px;

  background-color: $background_primary;
}

.header_container {
  display: flex;
  align-items: center;
}

.burger_btn {
  display: block;
  padding: 8px;

  background-color: transparent;
  border: none;
}

.header_menu {
  display: none;

  li {
    transition: color $transition_dur_and_func;

    &:hover {
      color: $link_hover;
    }
  }
}

.warning_banner {
  margin-top: 20px;
  padding: 12px;

  font-size: 14px;
  text-align: center;

  background-color: $gray;
}

@media screen and (max-width: 1439px) {
  .logo {
    display: inline-block;
    margin: auto;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    background-color: white;
  }

  .burger_btn {
    display: none;
  }

  .header_menu {
    display: flex;
    gap: 20px;

    list-style: none;
  }

  .header_menu_wrapper {
    margin: auto;
  }
}
